<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Discrete Mathematics Group - Amrita University, Amritapuri Campus</title>
   <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Serif|Roboto+Mono" rel="stylesheet">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <div class="header">
    <div class="title">
      <a href="">D&mdash;Math</a>
      <a href="blog">Blog</a>
    </div>
  </div>

  <div class="jumbotron">
    <span class="j-text">Discrete Mathematics group focuses on computational problem solving and research in the intersection of Mathematics and Computer Science.</span>
    <div class="j-links">
      <a href="about"><span>What we do</span></a><br>
      <a href="members"><span>Members</span></a><br>
      <a href="https://goo.gl/forms/qYCnIygU20PrFFM23"><span>Join</span></a>
    </div>
    <div class="social">
      <a href="https://facebook.com/amdmath">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a href="https://instagram.org/amdiscretemath">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>

</body>
</html>
